// Copyright (c) 2023 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE  0
#define FUNC  1

//
// ---------- Tofu65 2.0 key switch positions ----------
//
// -------------------------------------------------------------------------------------------------
// |  0  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  10  |  11  |  12  |   13   |  14 |
// -------------------------------------------------------------------------------------------------
// |  15    |  16 |  17 |  18 |  19 |  20 |  21 |  22 |  23 |  24 |  24 |  26 |  27 |   28   |  29 |
// -------------------------------------------------------------------------------------------------
// |  30     |  31 |  32 |  33 |  34 |  35 |  36 |  37 |  38 |  39 |  40 |  41  |     42     |  43 |
// -------------------------------------------------------------------------------------------------
// |     44     |  45 |  46 |  47 |  48 |  49 |  50 |  51 |  52 |  53 |  54 |    55   |  56  |  57 |
// -------------------------------------------------------------------------------------------------
// |   58  |   59  |   60  |                   61              |  62 |  63 |  64 |  65 |  66 |  67 |
// -------------------------------------------------------------------------------------------------
//


/ {
    // combos {
    //     compatible = "zmk,combos";

    //     // BACKSPACE + LCTRL + LALT = &sys_reset
    //     combo_bootloader {
    //         timeout-ms = <100>;
    //         key-positions = <13 58 60>;
    //         bindings = <&sys_reset>;
    //     };

    //     // RETURN + LCTRL + LALT = &bootloader
    //     combo_sys_reset {
    //         timeout-ms = <100>;
    //         key-positions = <42 58 60>;
    //         bindings = <&bootloader>;
    //     };
    // };
    combos {
        compatible = "zmk,combos";

        // FN + R = &bootloader
        combo_bootloader {
            timeout-ms = <100>;
            layers = <1>;
            key-positions = <18 67>;
            bindings = <&bootloader>;
        };

        // FN + ESC = &bt BT_CLR
        combo_bootloader {
            timeout-ms = <100>;
            layers = <1>;
            key-positions = <0 67>;
            bindings = <&bt BT_CLR>;
        };

        // FN + B + 1 = &bt BT_SEL 0
        combo_btsel0 {
            timeout-ms = <50>;
            layers = <1>;
            key-positions = <1 48 67>;
            bindings = <&bt BT_SEL 0>;
        };

        // FN + B + 2 = &bt BT_SEL 1
        combo_btsel1 {
            timeout-ms = <50>;
            layers = <1>;
            key-positions = <2 48 67>;
            bindings = <&bt BT_SEL 1>;
        };

        // FN + B + 3 = &bt BT_SEL 2
        combo_btsel2 {
            timeout-ms = <50>;
            layers = <1>;
            key-positions = <3 48 67>;
            bindings = <&bt BT_SEL 2>;
        };

        // FN + B + 4 = &bt BT_SEL 3
        combo_btsel3 {
            timeout-ms = <50>;
            layers = <1>;
            key-positions = <4 48 67>;
            bindings = <&bt BT_SEL 3>;
        };

        // FN + BT + 5 = &bt BT_SEL 4
        combo_btsel4 {
            timeout-ms = <50>;
            layers = <1>;
            key-positions = <5 48 67>;
            bindings = <&bt BT_SEL 4>;
        };

    };


    keymap {
        compatible = "zmk,keymap";

        base {

// --------- Default QWERTY Layout ---------
// Layer 0 BASE
// -------------------------------------------------------------------------------------------
// | ESC |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  0  |  -  |  =  |    BSPC   |
// -------------------------------------------------------------------------------------------
// | TAB    |  Q  |  W  |  E  |  R  |  T  |  Y  |  U  |  I  |  O  |  P  |  [  |  ]   |   \   |
// -------------------------------------------------------------------------------------------
// | CAPS    |  A  |  S  |  D  |  F  |  G  |  H  |  J  |  K  |  L  |  ;  |  '   |    ENTER   |
// -------------------------------------------------------------------------------------------
// | LSHIFT     |  Z  |  X  |  C  |  V  |  B  |  N  |  M  |  ,  |  .  |  /  |    RSHFT |  ↑  |
// -------------------------------------------------------------------------------------------------
// | LCTL | LGUI | LALT |                     SPACE         | RALT | RGUI | RCTL |  <- |  ↓  | ->  |
// -------------------------------------------------------------------------------------------------
            bindings = <
&kp ESC  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5  &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &kp MINUS &kp EQUAL  &kp BSPC
&kp TAB   &kp Q   &kp W   &kp E   &kp R   &kp T   &kp Y   &kp U   &kp I   &kp O   &kp P   &kp LBKT  &kp RBKT   &kp BSLH
&kp CLCK   &kp A   &kp S   &kp D   &kp F   &kp G   &kp H   &kp J   &kp K   &kp  L  &kp SEMI  &kp SQT  &kp ENTER  &kp UP
&kp LSHFT  &trans  &kp Z   &kp X   &kp C   &kp V   &kp B   &kp N   &kp M   &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT  &kp RIGHT
&kp LCTRL  &kp LGUI &trans &trans  &trans  &trans  &kp SPACE  &trans  &trans  &trans  &kp RALT  &mo FUNC  &kp LEFT  &kp DOWN
            >;
        };

        func {
// --------- Default QWERTY Layout ---------
// Layer 1 FUNC
// ---------------------------------------------------------------------------------------------------
// | ESC | F1  | F2  | F3  | F4  | F5  | F6  | F7  | F8  | F9  | F10 | F11 | F12 |    DEL     | HME  |
// ---------------------------------------------------------------------------------------------------
// | ---    | -- | -- | -- | -- |boot| -- | -- | -- | -- | -- | scroll lock | pause |   ---   | PGU  |
// ---------------------------------------------------------------------------------------------------
// | CAPS    | --  | --  | --  | --  | --  | --  | --  | --  | --  | --  | --  |     ---      | PGD  |
// ---------------------------------------------------------------------------------------------------
// | LSHIFT     | -- | -- | BT_CLR | -- | -- |BT_NXT|BT_PRV| -- | -- | -- |      -----      | VOL UP  | MUTE |
// ---------------------------------------------------------------------------------------------------
// | ---- | ---- | ---- |                     ----         | -- | MO 1 | -- | PREV  | VOL DN  | NEXT |
// ---------------------------------------------------------------------------------------------------
             bindings = <
&kp GRAVE &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12    &kp DEL
&kp TAB   &kp Q   &kp W   &kp E   &bootloader   &out OUT_TOG   &kp Y   &kp U   &kp I   &kp O   &kp P   &kp LBKT  &kp RBKT   &kp BSLH
&kp CLCK   &kp A   &kp S   &kp D   &kp F   &kp G   &kp H   &kp J   &kp K   &kp  L  &kp SEMI  &kp SQT  &kp ENTER  &rgb_ug RGB_BRI
&kp LSHFT  &trans  &kp Z   &kp X   &bt BT_CLR   &kp V   &kp B   &bt BT_NXT   &bt BT_PRV   &rgb_ug RGB_EFR  &rgb_ug RGB_TOG  &kp FSLH  &kp RSHFT  &rgb_ug RGB_BRD
&kp LCTRL  &kp LGUI  &kp LALT &trans  &trans  &trans  &kp C_PAUSE  &trans  &trans  &trans  &trans  &kp RCTRL  &rgb_ug RGB_HUD  &rgb_ug RGB_HUI
            >;
        };
    };
};
